    
@{
    ViewData["Title"] = "GetVideo";
}

<h3>upload video to Get Text</h3>
<br />
<br />

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="GetVideo" >
    <div class="form-group row">
        @*<label asp-for="uploadFile" class="col-sm-2 col-form-label"></label>*@
        <div class="col-sm-10">
            @*<div class="custom-file">
            <input asp-for="uploadFile" class="form-control custom-file-input">
            <label class="custom-file-label">Choose File...</label>

        </div>*@
            <input type="file" name="uploadFile" />
            <br/>
            @*<h4>Or Upload video Url Below</h4>
            <input type="url" name="uploadUrl" />*@
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="submit" value="Upload"/>
        </div>
    </div>

</form>

<h4>@ViewData["message"]</h4>

<h4>@ViewData["DisplayText"]</h4>



